body{
    font-family:Tahoma, sans-serif;
    font-size: 16px;
    color: #ddd;
    background: url(blossom.jpg) center center/cover fixed;
}

h1{
    background-color: #333;
    text-align: center;
}


header{
    background: url(fire.png) center center/cover no-repeat fixed;
    background-size: 12%;  
}