body{
    font-family:Tahoma, sans-serif;
    font-size: 16px;
    color: #ddd;
    background: url(fire.png) center no-repeat fixed, url(blossom.jpg) center center/cover fixed;
}

h1{
    background-color: #333;
    text-align: center;
}


/*ona slika koja se prva vidi se treba staivi prva (obrnuti redoslijed) */