*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.6;
    padding: 0 40px;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: darkgoldenrod;
    color: #fff;
    border-radius: 5px;
  }
  
  input[type="text"] {
    padding: 9px;
    border-radius: 5px;
    border: 1px #ccc solid;
    min-width: 400px;
  }

  #todo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }
  
  #todo-list > div {
    border: 1px #666 solid;
    padding: 10px;
    cursor: pointer;
  }
  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .gotov {
    text-decoration: line-through;
    background-color: maroon;
    color: #fff;
  } 