* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
  }
  h1 {
    text-align: center;
  }
  
  /* box */
  
  div {
    background-color: #99CCFF;
    border: 1px solid #333;
    width: 300px;
    height: 30px;
    margin: 4em auto;
  }

  div:nth-of-type(1) {
    transition: width 2s;
  } 

  div:nth-of-type(1):hover {
    width: 500px;
  }

  div:nth-of-type(2) {
    transition: background-color 1s;
  } 

  div:nth-of-type(2):hover {
    background-color: yellow;
  }

  div:nth-of-type(3) {
    transition: translate 1s;
  } 

  div:nth-of-type(3):hover {
    translate: 450px 0;
  }

  div:nth-of-type(4) {
    transition: rotate 1s;
  } 

  div:nth-of-type(4):hover {
    rotate: 180deg;
  }

  div:nth-of-type(5) {
    transition: transform 1s, background-color 1s;
  } 

  div:nth-of-type(5):hover {
    transform: skew(10deg, 5deg) scale(1.5, 1.2);
    background-color: red;
  }

  div:nth-of-type(6) {
    transition: opacity 1s;
    transition-delay: 3s;
  } 

  div:nth-of-type(6):hover {
    opacity: 20%;
  }

