body {
    background-image: url("butterfly.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 200px;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #ddd;
  }