*{
    margin:0;
    padding:0;
    box-sizing:content-box;
}

.parent-box{
    border: 9px solid rgb(130, 130, 130);
    background-color: rgb(214,214,214);
    margin-top:2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
    height:500px;
}

.red{
    background-color: rgb(249, 105, 105);
    width:50%;
    height:50%;
}

.blue{
    background-color: rgb(91,126,216);
    width:50%;
    height:50%;
    float: right;
}









