body{
    margin:0;
}


.box{
    background-color: cadetblue;
    width:100px;
    height:100px;
}

.box2{
    background-color: orange;
    width:100px;
    height:100px;
    position: fixed;
    top:75%;
    left:60%;

}